body {
}
.hide {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: #f7faff;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img,
svg {
  display: block;
}
.container {
  max-width: 391px;
  padding: 0 16px;
  margin: 0 auto;
}
.page-header {
  padding-top: 36px;
  padding-bottom: 36px;
}
.page-header .countainer {
  /* align-items: center; */
}
.page-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-header-icon {
  fill: #0a224a;
  min-width: 100px;
}
.mobile-menu-btn {
  margin-left: auto;
  background: transparent;
  border: none;
  margin-left: auto;
}
.list-nav-menu {
  display: none;
}
.item-nav-menu {
}
.link-nav-menu {
}

.hero-section {
  background: #7a7a7a;
  background-image: url("../images/hero/product1@1x.jpg");
  max-width: 767px;
  /* transform: rotate(-180deg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 313px;
  margin: 0 auto;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}
.hero-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #0a224a;
  max-width: 285px;
  margin-bottom: 14px;
}
.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0a224a;
  max-width: 343px;
  margin-bottom: 28px;
}
.hero-btn {
  padding: 12px 65px;
  width: 224px;
  height: 48px;
  background: #0a224a;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  border: none;
}
.about-us-section {
  padding-top: 64px;
  padding-bottom: 64px;
}
.about-us-section .container {
  position: relative;
}

.about-us-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0a224a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  width: 124px;
  height: 24px;
  margin-left: 50px;
  margin-bottom: 30px;
}
.about-us-title::before {
  content: "";
  border: 1px solid #0a224a;
  width: 30px;
  height: 0px;
  position: absolute;
  left: 0;
  display: inline-block;
  margin-left: 20px;
}

.common-text {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #0a224a;
}
.about-capital-description {
  margin-bottom: 30px;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0a224a;
}
.about-description {
  margin-bottom: 30px;
}
.list-statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 64px;
}
.item-statistics {
  max-width: 170px;
  max-height: 161px;
}
.statistics-number {
  display: block;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #0a224a;
  text-align: center;
  padding-bottom: 14px;
}
.statistics-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #0a224a;
}
.img-about-us {
  width: 375px;
  height: 400px;
  margin: 0;
}
.prices-section {
  background: #fff;
  padding-bottom: 64px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.prices-tbl {
  border-collapse: collapse;
  width: 343px;
  height: 408px;
}
.prices-tbl-row {
}

.prices-tbl-value {
  border-bottom: 1px solid #0a224a;
}
.price-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
  color: #0a224a;
}
.products-section {
  background: #fff;
}
.products-title {
  text-align: center;
  margin-bottom: 33px;
}
.products-container {
}
.list-products {
}
.item-products {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.img-products {
  width: 343px;
  height: 300px;
}
.products-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0a224a;
}
.bestsellers-section {
  background: #fff;
  padding-top: 64px;
  padding-bottom: 64px;
}
.bestsellers-title {
  text-align: center;
  margin-bottom: 23px;
}
.list-bestsellers {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.item-bestsellers {
}
.img-bestsellers {
  width: 343px;
  height: 193px;
}
.bestsellers-dscr-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 14px;
  max-width: 343px;
}
.bestsellers-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0a224a;
}
.bestsellers-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #0a224a;
}
.reviews-section {
  background: #f7faff;
  padding-top: 36px;
  padding-bottom: 36px;
}
.reviews-title {
  text-align: center;
  margin-bottom: 30px;
}
.reviews-acticle {
  background: #fff;
  padding: 24px 23px 24px 24px;
}
.reviews-container {
  display: flex;
  gap: 14px;
}
.img-reviews-client {
}
.reviews-text-box {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 189px;
}
.reviews-client-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.77778;
  text-transform: uppercase;
  color: #0a224a;
}
.reviews-time {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #0a224a;
  opacity: 0.8;
  text-align: left;
}
.reviews-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #0a224a;
  padding-top: 24px;
  display: inline-block;
  min-width: 296px;
}

.newsletter-section {
}
.newsletter-title {
}
.newsletter-text {
}
.newsletter-form {
}
.newsletter-lable {
}
.newsletter-form-field {
}
.newsletter-checkbox {
}
.newsletter-subscribe-text {
}
.newsletter-btn {
}
.img-newsletter {
}
.footer {
}
.logo-socials-box {
}
.logo-footer {
}
.list-social-media {
}
.item-social-media {
}
.link-social-media {
}
.social-media-icon {
}
.list-footer-menu {
}
.item-footer-menu {
}
.link-footer-menu {
}
.minimal-details {
}
.minimal-details-address {
}
.minimal-details-hours {
}
.list-minimal-contacts {
}
.item-minimal-contacts {
}
.link-minimal-contacts {
}
.footer-policy-statement {
}
.menu-close-btn {
}
.menu-close-icon {
}
.list-mobile-menu {
}
.item-mobile-menu {
}
