body {
}
.hide {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: #f7faff;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img,
svg {
  display: block;
}
.container {
  max-width: 391px;
  padding: 0 16px;
  margin: 0 auto;
}
.page-header {
  padding-top: 36px;
  padding-bottom: 36px;
}
.page-header .countainer {
  /* align-items: center; */
}
.page-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-header-icon {
  fill: #0a224a;
  min-width: 100px;
}
.mobile-menu-btn {
  margin-left: auto;
  background: transparent;
  border: none;
  margin-left: auto;
}
.list-nav-menu {
  display: none;
}
.item-nav-menu {
}
.link-nav-menu {
}

.hero-section {
  background: #7a7a7a;
  background-image: url("../images/hero/product1@1x.jpg");
  max-width: 767px;
  /* transform: rotate(-180deg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 313px;
  margin: 0 auto;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}
.hero-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #0a224a;
  max-width: 285px;
  margin-bottom: 14px;
}
.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0a224a;
  max-width: 343px;
  margin-bottom: 28px;
}
.hero-btn {
  padding: 12px 65px;
  width: 224px;
  height: 48px;
  background: #0a224a;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  border: none;
}
.about-us-section {
  padding-top: 64px;
  padding-bottom: 64px;
}
.about-us-section .container {
  position: relative;
}

.about-us-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0a224a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  width: 124px;
  height: 24px;
  margin-left: 50px;
  margin-bottom: 30px;
}
.about-us-title::before {
  content: "";
  border: 1px solid #0a224a;
  width: 30px;
  height: 0px;
  position: absolute;
  left: 0;
  display: inline-block;
  margin-left: 20px;
}

.common-text {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #0a224a;
}
.about-capital-description {
  margin-bottom: 30px;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0a224a;
}
.about-description {
  margin-bottom: 30px;
}
.list-statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 64px;
}
.item-statistics {
  max-width: 170px;
  max-height: 161px;
}
.statistics-number {
  display: block;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #0a224a;
  text-align: center;
  padding-bottom: 14px;
}
.statistics-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #0a224a;
}
.img-about-us {
  width: 375px;
  height: 400px;
  margin: 0;
}
.prices-section {
  background: #fff;
  padding-bottom: 64px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.prices-tbl {
  border-collapse: collapse;
  width: 343px;
  height: 408px;
}
.prices-tbl-row {
}

.prices-tbl-value {
  border-bottom: 1px solid #0a224a;
}
.price-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
  color: #0a224a;
}
.products-section {
  background: #fff;
}
.products-title {
  text-align: center;
  margin-bottom: 33px;
}
.products-container {
}
.list-products {
}
.item-products {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.img-products {
  width: 343px;
  height: 300px;
}
.products-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0a224a;
}
.bestsellers-section {
  background: #fff;
  padding-top: 64px;
  padding-bottom: 64px;
}
.bestsellers-title {
  text-align: center;
  margin-bottom: 23px;
}
.list-bestsellers {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.item-bestsellers {
}
.img-bestsellers {
  width: 343px;
  height: 193px;
}
.bestsellers-dscr-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 14px;
  max-width: 343px;
}
.bestsellers-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0a224a;
}
.bestsellers-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #0a224a;
}
.reviews-section {
  background: #f7faff;
  padding-top: 36px;
  padding-bottom: 36px;
}
.reviews-title {
  text-align: center;
  margin-bottom: 30px;
}
.reviews-acticle {
  background: #fff;
  padding: 24px 23px 24px 24px;
}
.reviews-container {
  display: flex;
  gap: 14px;
}
.img-reviews-client {
}
.reviews-text-box {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 189px;
}
.reviews-client-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.77778;
  text-transform: uppercase;
  color: #0a224a;
}
.reviews-time {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #0a224a;
  opacity: 0.8;
  text-align: left;
}
.reviews-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #0a224a;
  padding-top: 24px;
  display: inline-block;
  min-width: 296px;
}

.newsletter-section {
  background: #fff;
  padding-top: 64px;
  padding-bottom: 64px;
}
.newsletter-title {
  text-align: center;
  margin-bottom: 20px;
}
.newsletter-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0a224a;
  margin-bottom: 30px;
}
.newsletter-form {
}

.newsletter-form-field {
  border: 1px solid #b6b6b6;
  padding: 11px 20px;
  width: 343px;
  height: 50px;

  padding: 11px 20px;
  margin-bottom: 20px;
}
.newsletter-form-field::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #d9d9d9;
}
.checkbox-wrapper {
  margin-bottom: 30px;
}
.newsletter-label-chbx {
  display: flex;
  gap: 8px;
}

.newsletter-checkbox-field {
}

.checkbox-mark {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  fill: transparent;
  border: 1px solid #b6b6b6;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-checkbox {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked + .newsletter-label-chbx > .checkbox-mark {
  background-color: #0a224a;
  fill: #fff;
  border: none;
}

input[type="checkbox"] {
  border: 1px solid #b6b6b6;
  width: 25px;
  height: 25px;
}

/* input[type="checkbox"]:checked
  + .newsletter-label-chbx
  > .checkbox-mark
  > .icon-checkbox {
  opacity: 1;
  border: none;
  fill: #fff;
} */

.newsletter-subscribe-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #7a7a7a;
}
.newsletter-btn {
  padding: 17px 65px;
  width: 224px;
  height: 50px;
  background: #0a224a;
  color: #fff;
  border: none;
  margin-bottom: 30px;
}
.img-newsletter {
  width: 343px;
  height: 300px;
}

/* Footer */
.footer {
  background: #0a224a;
  padding: 36px 16px 16px;
}

.footer.container {
  min-height: 523px;
}

.logo-socials-box {
  fill: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 127px;
}
.logo-footer {
}
.list-social-media {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.item-social-media {
}
.link-social-media {
}
.social-media-icon {
}
.list-footer-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 36px;
}
.item-footer-menu {
}
.link-footer-menu {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}
.minimal-details {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #fff;
  font-style: normal;
  margin-bottom: 36px;
}
.minimal-details-address {
  padding-bottom: 8px;
}
.minimal-details-hours {
}
.list-minimal-contacts {
}
.item-minimal-contacts {
  padding-bottom: 8px;
}
.link-minimal-contacts {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #fff;
  font-style: normal;
  display: inline-block;
  margin-bottom: auto;
}

.footer-policy-statement {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  opacity: 0.6;
  display: inline-block;
}
.menu-close-btn {
}
.menu-close-icon {
}
.list-mobile-menu {
}
.item-mobile-menu {
}
